.page-header {
	flex: 0 0 auto; /* 헤더는 필요만큼 */
}

table {
	width: 100%;
	height: 100%; /* wrapper 안에서 전체 차지 */
}

div.top {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
	padding-bottom: 0.5rem;
}

div.top-left {
	display: flex;
	align-items: center;
	gap: 1rem;
}

div.top-center {
	display: flex;
	align-items: center;
    justify-content: center;
}

div.top-right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

div.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}